
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4" style="margin: 10px">
        <a class="btn btn-primary" href="../User/SelectGM">Mistrz Gry</a>
    </div>
    <div class="col-md-4" style="margin: 10px">
        <a class="btn btn-primary" href="../User/SelectPlayer">Gracz</a>
    </div>
</div>
