body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body::-webkit-scrollbar {
        width: 0.5rem;
    }

body::-webkit-scrollbar-track {
        background: white;
    }

body::-webkit-scrollbar-thumb {
        background: grey;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: !important 10px;
    padding-right: !important 5px;
    margin-left: 2px;
    margin-right: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
