@page

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <table style="width: 100%" id="initiative-table">
            <tr>
                <th>Inicjatwa</th>
                <th>Nazwa</th>
                <th>PŻ</th>
                <th>Bonus</th>
                <th>AC</th>
            </tr>
        </table>
    </div>

</div>



<script src="~/js/initiative.js"></script>




@model SignalCore.Pages.InitiativeModel
@{
}
